<section id="reviews">
  <div class="container">
    <div class="review-filtering">
      <div class="review">
        <div class="review-comment">
          <h3>“I love Oleose, I highly recommend it, Everyone Try It Now”</h3>
          <p>
            - Krin Fox
            <span>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star-half-o fa-lg"></i>
              <i class="fa fa-star-o fa-lg"></i>
            </span>
          </p>
        </div>
      </div>

    </div>
    <div class="review-filtering">
      <div class="review">
        <div class="review-comment">
          <h3>“I love Oleose, I highly recommend it, Everyone Try It Now”</h3>
          <p>
            - Krin Fox
            <span>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star-half-o fa-lg"></i>
              <i class="fa fa-star-o fa-lg"></i>
            </span>
          </p>
        </div>
      </div>

    </div>
    <div class="review-filtering">
      <div class="review">
        <div class="review-comment">
          <h3>“I love Oleose, I highly recommend it, Everyone Try It Now”</h3>
          <p>
            - Krin Fox
            <span>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star-half-o fa-lg"></i>
              <i class="fa fa-star-o fa-lg"></i>
            </span>
          </p>
        </div>
      </div>

    </div>
    <div class="review-filtering">
      <div class="review">
        <div class="review-comment">
          <h3>“I love Oleose, I highly recommend it, Everyone Try It Now”</h3>
          <p>
            - Krin Fox
            <span>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star-half-o fa-lg"></i>
              <i class="fa fa-star-o fa-lg"></i>
            </span>
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
