
<!-- Shop Basket -->
<!-- <head>

    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/_basket.css">
</head> -->

<!-- <div class="container"> -->

<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <div class=" headarea">
    <div class=" col-xs-3 text-left test">
      <i class="fa fa-angle-double-left"> Back</i>
    </div>
    <div class=" col-xs-6 text-center col-xs-offset+2">
      <h1><i class="fa fa-heart-o"></i> My Basket <i class="fa fa-heart-o"></i></h1>
    </div>
  </div>
</div>

<!----------------------------------------------------------------->
<!-- START TABLE for BASKET -->
<table border="1" class="basket-table ">
  <thead>
    <!-- HEADER TABLE -->
    <th colspan="3" class="text-left col-lg-8 ">
      product
    </th>
    <th class="col-lg-1">
      price
    </th>
    <th class="col-lg-1">
      quantity
    </th>
    <th class="col-lg-1">
      total
    </th>
  </thead>
  <tbody>
    <!-- BODY TABLE -->
    <tr>
      <td class="remove-product col-lg-1">
        <!-- delete ICON -->
        <a href="/cart/?removeItem.this">
          <i class="fa fa-trash-o fa-2x removeIcon"> </i>
        </a>
      </td>
      <td class="product-thumbnail col-lg-4">


        <div class="hidden-xs hidde-sm visible-md visible-lg">
          <img src="../img/placeholder128x128.png" alt="Selfhtml" width="128" height="128" alt="product">
        </div>
        <div class="hidden-xs visible-sm hidden-md hidde-lg">
          <img src="../img/placeholder64x64.png" alt="Selfhtml" width="64" height="64" alt="product">
        </div>
        <div class="visible-xs hidden-sm hidden-md hidde-lg">
          <img src="../img/placeholder32x32.png" alt="Selfhtml" width="32" height="32" alt="product">
        </div>


      </td>
      <td class="product-name col-lg-4">
        <h4>Short description </h4> another short
      </td>
      <td class="product-price col-lg-1">
        <span class="amount">
          price €
        </span>
      </td>
      <td class="product-quantity col-lg-1">
        <div class="quantity">

          <input type="number" step="1" max="15" class="form-control" value="1" size="1">
        </div>
      </td>
      <td>
        <span class="product-price-total col-lg-1">
          price total €
        </span>
      </td>
    </tr>




    <tr>
      <td class="remove-product col-lg-1">
        <!-- delete ICON -->
        <a href="/cart/?removeItem.this">
          <i class="fa fa-trash-o fa-2x removeIcon"> </i>
        </a>
      </td>
      <td class="product-thumbnail col-lg-4">


        <div class="hidden-xs hidde-sm visible-md visible-lg">
          <img src="../img/placeholder128x128.png" alt="Selfhtml" width="128" height="128" alt="product">
        </div>
        <div class="hidden-xs visible-sm hidden-md hidde-lg">
          <img src="../img/placeholder64x64.png" alt="Selfhtml" width="64" height="64" alt="product">
        </div>
        <div class="visible-xs hidden-sm hidden-md hidde-lg">
          <img src="../img/placeholder32x32.png" alt="Selfhtml" width="32" height="32" alt="product">
        </div>


      </td>
      <td class="product-name col-lg-4">
        <h4>Short description </h4> another short
      </td>
      <td class="product-price col-lg-1">
        <span class="amount">
          price €
        </span>
      </td>
      <td class="product-quantity col-lg-1">
        <div class="quantity">

          <input type="number" step="1" max="15" class="form-control" value="1" size="1">
        </div>
      </td>
      <td>
        <span class="product-price-total col-lg-1">
          price total €
        </span>
      </td>
    </tr>



  </tbody>

</table>





<!-- </div> <!--Container Close Tag-->
