<!-- Wilkommensbildschirm -->
<div class="col-lg-12">
  <!-- <h1>welcome to FRIDAsFRED.com</h1>
  <p>Take a closer look in more details</p> -->

  <!-- <div class="imageBorderArea">
    <img  onload="this.style.opacity=1" src='img/dress5.jpg'></img>


    <div class="video-container">
      <iframe src="http://player.vimeo.com/video/70984663"></iframe>
    </div>

    <img onload="this.style.opacity=1" class="imageBorderArea" src='img/dress3.jpg'></img>

    <img onload="this.style.opacity=1" class="imageBorderArea" src='img/dress4.jpg'></img>
  </div> -->
  WELCOME AREA <br>
  place here pictures, slideshows and videos. <br>
  Or.<br>
  Maybe 100% slider<br>
  Or.<br>
  Shopping article.<br>
</div>
