Farbpaletten:

Sozial Icons:
    Icon: #4b4b4b
    Icon-Hover: #000
    Background: #66cc99   -> light #b0e6cb
    #339999 
    border: #4b4b4b
    
    
Navigation: #66cc99;    
    
Send Button: #ffa54a;

lightGrey: #d4d4d4;

TABLE: Border: #ececec;
       Background: #99a086