
<!-- Shop product single view -->



  <div class="goBack">
        <a href="/fridasfred/shop">
          <i class="fa fa-angle-double-left"> back to shop</i>
        </a>
  </div>

  <div class="productview col-md-offset-1 col-md-10      col-lg-offset-2 col-lg-8">
      <div class="productImageLeft col-md-8">
        <img src='img/placeholder350x150.png'></img>
      </div>
      <div class="productDescription col-md-4">
        schdsicb cdsz if hsdf s vd vd d vd   dv df
        f sfzugsfsu hfosv  v df df  dfv dv d
        s dzgdszudgsf iushf iusdhf sh isudf dsif dsi
        sd ffdsifu sischdsicb cdsz ifhsdfs
        f sfzugsfsu hfos dhf iusdhf sh isudf dsif dsi
        sd ffdsifu sischdsicb cdsz ifhsdfs
        f sfzugsfsu hfos d d iusdhf sh isudf dsif dsi
        sd ffdsifu sischdsicb cdsz ifhsdfs
        f sfzugsfsu hfos d f dfv dv dfv dfv d df
        s dzgdszudgsf iushf iusdhf sh isudf dsif dsi
        sd ffdsifu sischdsicb cdsz ifhsdfs
        f sfzugsfsu hfos d vd v
        s dzgdszudgsf iushf iusdhf sh isudf dsif dsi
        sd ffdsifu sischdsicb cdsz ifhsdfs
        f sfzugsfsu hfos
        s dzgdszudgsf iushf iusdhf sh isudf dsif dsi
        sd ffdsifu sischdsicb cdsz ifhsdfs
        f sfzugsfsu hfos
        s dzgdszudgsf iushf iusdhf sh isudf dsif dsi
        sd ffdsifu sischdsicb cdsz ifhsdfs
        f sfzugsfsu hfos
        s dzgdszudgsf iushf iusdhf sh isudf dsif dsi
        sd ffdsifu sischdsicb cdsz ifhsdfs
        f sfzugsfsu hfos
        s dzgdszudgsf iushf iusdhf sh isudf dsif dsi
        sd ffdsifu si
      </div>
  </div>


</div> <!--Container Close Tag-->
