<!-- Shop products -->
<!-- <head>
    <link rel="stylesheet" href="../css/shop.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/font-awesome.css">
</head> -->

<!-- <div class="container">  -->
<div class='column col-xs-12 col-sm-6 col-md-4 col-lg-3'>
  <div class="pItem">
    <a href="/fridasfred/shop/product:1">

      <div class='post-module'>
        <div class='thumbnail'>
          <div class='soldOut'>
            Sold OUT
          </div>
          <div class='newInStock'>
            new in stock
          </div>
          <div class='preOrder'>
            preorder now
          </div>


          <img src='img/dress5.jpg'></img>

        </div>
        <div class='post-content'>
          <div class='category'>collection 2015</div>

          <h2 class='_title'>Most Popular 2015</h2>
          <h3 class='_sub_title'>$146.00</h3>
        </div>
      </div>

    </a>
  </div>
</div>

<div class='column col-xs-12 col-sm-6 col-md-4 col-lg-3'>
  <div class="pItem">
    <a href="/fridasfred/shop/product:2">

      <div class='post-module'>
        <div class='thumbnail'>

          <div class='newInStock'>
            new in stock
          </div>

          <img src='img/dress2.jpg'>
        </div>



        <div class='post-content'>
          <div class='category'>special price: 10% off</div>

          <h2 class='_title'>Most Popular 2015</h2>
          <h3 class='_sub_title'>$146.00</h3>

        </div>
      </div>
    </a>
  </div>
</div>



<div class='column col-xs-12 col-sm-6 col-md-4 col-lg-3'>
  <div class="pItem">
    <a href="/fridasfred/shop/product:3">

      <div class='post-module'>
        <div class='thumbnail'>
          <div class='soldOut'>
            Sold OUT
          </div>

          <div class='preOrder'>
            preorder now
          </div>

          <img src='img/dress5.jpg'></img>

        </div>
        <div class='post-content'>
          <!--   <div class='category'>collection 2015</div>-->

          <h2 class='_title'>Most Popular 2015</h2>
          <h3 class='_sub_title'>$146.00</h3>
        </div>
      </div>
    </a>
  </div>
</div>

<div class='column col-xs-12 col-sm-6 col-md-4 col-lg-3'>
  <div class="pItem">
    <a href="/fridasfred/shop/product:4">

      <div class='post-module'>
        <div class='thumbnail'>


          <img src='img/dress4.jpg'></img>

        </div>
        <div class='post-content'>
          <h2 class='_title'>Most Popular 2015</h2>
          <h3 class='_sub_title'>$146.00</h3>
        </div>
      </div>
    </a>
  </div>
</div>







<!-- </div>   <!--End Container products-->
