<section id="support" class="doublediagonal">
            <div class="container ">
			 <div class="linksrechts">

			    <div class="section-heading scrollpoint sp-effect3 col-md-4">
                    <h1>Thanks for saying hello!</h1>
                   <!-- <div class="divider"></div>-->  
                </div>
                <div class="row col-md-8"">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 scrollpoint sp-effect1">
                                <form role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your email">
                                    </div>
				    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </form>
                            </div>
                        </div>
					</div>
				</div>
                
			 </div>
			</div>
			
        </section>
